/* src/WordSearchGame.css */
.word-search-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .scoreboard {
    
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px 10px;
    background-color: skyblue;
    color: #4c4545;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: -2px 3px 2px 1px #bbb3b3;
    text-align: center;
  }
  
  .scoreboard button {
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4f5e6f;
    color: rgb(189, 169, 169);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow:-2px 3px 2px 1px #bbb3b3 ;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    gap: 20px;
    background-color: rgb(141, 193, 174);
    color:rgb(41, 47, 53)
  }
  
  .grid-row {
    display: flex;
  }
  
  .grid-cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .grid-cell.selected {
    background-color: #e2e7ed;
  }
  
  .word-list{
  
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
    background-color: #4d6379;
    
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow:-2px 3px 2px 1px #bbb3b3 ; 
  }
  
  .word-list h2 {
    margin-bottom: 5px;
  }
  
  .word-list ul {
    list-style: none;
    padding: 0;
  }
  
  .word-list li {
    padding: 5px;
    margin: 2px;
    cursor: pointer;
  }
  
  .word-list li.found {
    background-color: #809c80;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-size:30px;
    margin-top: 10px;
    text-align: center;
    color: rgb(23, 21, 21)
  }
  button{
    padding: 4px;
    cursor: pointer;
    font-size: 6px;
    padding: 5px 10px;
    background-color: #1b2229;
    color: rgb(218, 207, 207);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow:-2px 3px 2px 1px #694b4b ;
    display: flexbox;
  }
  
  